

  .card {
    padding: 10px 10px 10px 10px;
    margin: 2px 2px 10px 2px;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 12px #5c5c5c;

}

.btn {
    font-size: 9pt;
    margin: 5px;
    border: 0.8px solid rgb(255, 255, 255);
    padding: 5px;
    border-radius: 5px;
    transition: .2s ease-in-out;
    cursor: default;
    user-select: none;
}

.btn:hover {
    background: white;
    color: black;

}

/* .style-rule {


} */

