.list-box ul {
    list-style-type: none;
    user-select: none;
    cursor: pointer;
    padding-left: 0px;
}

.list-box ul li {
    border: 1px solid rgba(255, 255, 255, 0);
}

.list-box ul li:hover {
    border: 1px solid white;
}