
.card {
    padding: 5px 10px;
    margin: 2px 2px 10px 2px;
    border-radius: 2px;
    background-color: #00ACC1;
    color: white;
    box-shadow: 0px 0px 12px rgb(0, 0, 0);
}

.card :not(.buttons) {
    font-family: monospace;
}

.card[issub="true"] {
    background-color: #26C6DA !important;
    margin-left: 10px;
}

.btn {
    font-size: 9pt;
    margin: 3px;
    border: 0.8px solid rgb(255, 255, 255);
    padding: 3px;
    border-radius: 3px;
    transition: .2s ease-in-out;
    cursor: default;
    user-select: none;
}

.btn:hover {
    background: white;
    color: black;
}

/* 
.style-expand
{
    font-size: 26px;
} */

/* .style-rule {


} */

.style-key-value-container
{
    display: flex;
    align-items: center;
}

.style-key-value-container .style-rule-code
{
   
    flex-grow: 1;
}
.style-key-value-container .buttons
{
    visibility: hidden;
    display: flex;
    align-items: center;
}

.style-key-value-container:hover .buttons
{
    visibility: visible;

}

